<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   <title>Mission to Mars</title>
   <link 
      rel="stylesheet" 
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
</head>
<section class="content">
    <header>
    {% block header %}{% endblock %}
    </header>
    {% for hemisphere in mars.hemispheres %}
    <li>{{hemisphere.title}}: {{hemisphere.img_url}}</li>
    {% endfor %}
</section> 